{# prjLiherfashion/appLiher/templates/admin/usuarios-registrados/eliminar_usuario.html #}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Usuario</title>
    <link rel="stylesheet" href="{% static 'css/admin_crud.css' %}">
</head>
<body>
    <h1>Eliminar Usuario: {{ usuario.usuario }}</h1>

    <p>¿Estás seguro de que deseas eliminar al usuario <strong>{{ usuario.usuario }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" style="background-color: red; color: white;">Confirmar Eliminación</button>
        <a href="{% url 'mostrar_usuarios' %}">Cancelar</a>
    </form>
</body>
</html>